<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include file="config/basic.xml"/>

    <property name="LOG_FILE_DIR" value="log/"/>
    <property name="LOG_FILE" value="${LOG_FILE_DIR}hdfs-shell"/>

    <property name="FILE_LOG_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%.-4level) - %cyan(%30.-30logger{30}) - %20.-20thread{30} - %message%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.out</target>
      <encoder>
        <charset>UTF-8</charset>
        <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%.-4level) - %cyan(%30.-30logger{30}) - %20.-20thread{30} - %message%n</pattern>
      </encoder>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.err</target>
      <encoder>
        <charset>UTF-8</charset>
        <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%.-4level) - %cyan(%30.-30logger{30}) - %20.-20thread{30} - %message%n</pattern>
      </encoder>
    </appender>

    <!-- ===================================================== -->
    <!-- Primary Async Appenders -->
    <!-- ===================================================== -->
    <property name="async_queue_size" value="${queue.size:-1024}" />
    <property name="async_max_flush_time" value="${max.flush.time:-0}" />
    <appender name="ASYNC-SERVICE" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>${async_queue_size}</queueSize>
      <maxFlushTime>${async_max_flush_time}</maxFlushTime>
      <appender-ref ref="STDOUT" />
    </appender>

    <root level="${log_level:-INFO}">
        <appender-ref ref="ASYNC-SERVICE"/>
    </root>


    <logger name="org.springframework" level="INFO"/>
    <logger name="com.avast" level="DEBUG"/>
    <logger name="com.avast.jmx" level="INFO"/>

    <logger name="com.avast.server.wififinder.dao" level="INFO"/>

</configuration>